<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img class="p-cursor" src="/assets/h_search1.png" alt="icon search" width="20">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="nav-item nav-link"  routerLink="/home" routerLinkActive='active'>HOME</a>   
                    </li>
                    <li>
                        <a class="nav-item nav-link" routerLink="/users" routerLinkActive='active'>Search Username</a>   
                    </li>
                    <li>
                        <a href="#" routerLink="/repo" routerLinkActive='active'>Search Repository</a>   
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>