<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                <span class="p-tag">Github</span>
                <h1 class="mt-3">Github Search</h1>
                <p class="p-des">This is a simple web app that allows one to search for their own usernames and others together with repositories. With the use of API tokens from github that enable us to locate people's github accounts together with their repositories. Isn't that cool, Give it a try!!!</p>
                <a routerLink="/search"><button class="btn btn-warning" type="submit">Get Started</button></a>
                </div>
            </div>
        </div>
    </div>
</section>